@mixin focus {
  outline: none;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

@mixin btn {
  padding: 0 10px;
  border-radius: 5px;
  transition: box-shadow 0.2s ease-in-out;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2.5;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
      0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
  }

  &:focus {
    @include focus;
  }
}

@mixin input {
  border-radius: 5px;
  font-size: 1.5rem;

  &:focus {
    @include focus;
  }
}
