@import "../../sass/variables.scss";

.post-title-link {
  margin-top: 10px;
  min-height: 150px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px black;
  background-image: url("../../images/choco-small3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }

  &__bgc {
    padding: 30px 15px 15px 15px;
    width: 100%;
    height: 100%;
    background-color: #20202063;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $title-color;
    font-size: 1.7rem;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    padding: 10px 0;
    color: $text-color;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
  }
}
