.post-title-link {
  margin-top: 10px;
  padding: 10px;
  list-style: none;
  border: 1px solid #e9eef1;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #d0d1d1;

  &:hover {
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    color: #2d363a;
    font-size: 1.5rem;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    padding: 10px 0;
    color: #2d363a;
    font-size: 1.2rem;
  }
}
