.comment {
  list-style: none;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;

  &__email {
    font-size: 1.4rem;
    color: #ffaba9;
    font-weight: 600;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__comment-body {
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
}
