.post {
  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__post-body {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  &__text {
    margin-bottom: 50px;
    font-size: 1.5rem;
  }
}
