@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Unna&display=swap");
@import "./sass/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  max-width: 1280px;
  margin: 0 auto;
  background-color: $dark-color;
  font-size: 10px;
  font-family: "Unna", serif;
}
