@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.post-page {
  width: 75%;
  margin: 30px auto 3rem auto;
  border: 1px solid #e9eef1;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #d0d1d1;
  background-image: url("../../images/cream.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;

  &__post-page {
    padding: 10rem;
  }

  &__comment-section {
    color: $light-color;
    background-color: #00000054;
    border: 0.5px solid #e9eef1;
    box-shadow: 1px 1px 4px #d0d1d1;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
  }

  &__title {
    font-size: 6rem;
    margin-bottom: 20px;
    font-family: "Comforter", cursive;
    font-weight: normal;
  }

  &__btn {
    margin: 10px auto;
    padding: 5px 10px;
    @include btn;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
  }
}
